body {
    text-align: center;
    background-color: blanchedalmond;
}
header {
    width: 60%;
    background-color:darkslategrey;
    padding: 40px;
    text-align: left;
    margin: 0 auto;
}
header .cabezera {
    width: 100%;
    height: 10%;
    background-color: black;
    color: azure;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
header h1 {
    color: red;
    font-size: 40px;
}
header p {
    font-size: 20px;
    color: darkgray;
}